.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  /* 35% of screen/box will be regulated to the sidebar */
}

.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom-left-radius: 2%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
}
